.nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
    padding: 0 2rem;
    padding-top: 10px;
    font-family: 'Nunito';
    height: 84px;
    /* background-color: #ffffa1; */
    overflow: hidden;
}

.nav ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.title {
    color: #000000;
    font-family: "Sookie", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    position: relative;
    transform: rotate(-1.5deg);
    white-space: nowrap;
    width: fit-content;
    padding-right: 7rem;
    cursor: pointer;
}

.subtitle {
    padding-left: 55rem;
    color: black;
    font-size: 16px;
    font-family: Georgia;
    font-weight: 700;
    line-height: 16px;
    word-wrap: break-word
}

.menuIcon {
    transform: scale(1.5);
}

.recordButton {
    width: 240px; 
    height: 60px; 
    background: #FF8C00; 
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recordButton:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
    
}
